/*-- HTML and Body --*/

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    overflow: auto;
}

#wrapper {
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #4E83A8;
}