{% extends 'base.html' %} 

{% block content %}


<div class="row card intro-card">
    <div class="card-content intro-card-content center-align">
        <h5 class="message">{{message|safe}}</h5>
        {% if 'username' in session %}
        {% else %}
        <span class="intro">
            <a href="{{url_for('signin')}}">
                <strong>Sign In</strong>
            </a> or 
            <a href="{{url_for('register')}}">
                <strong>Register</strong>
            </a> to create your very own recipes and contribute to the community!</span>
        {% endif %}
    </div>
</div>

<div class="row">
    {% for cuisine in cuisines %}
    <div class="col s12 m6 l3">
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img src="{{ cuisine.cuisine_image }}" class="activator">
            </div>
            <div class="card-content">
                <span class="card-title cuisine-heading activator">{{cuisine.cuisine_name}}<i class="fas fa-ellipsis-v right"></i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title cuisine-heading">{{cuisine.cuisine_name}}<i class="fas fa-times right"></i></span>
                <p>{{cuisine.cuisine_description}}</p>
                <i class="fas fa-book"></i><a href="{{ url_for('recipes_by_cuisine', cuisine_name=cuisine.cuisine_name) }}" class="waves-effect waves-light view-btn">View All {{cuisine.cuisine_name}} Recipes</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock %}